<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>焼き芋できるかな⁉ゲーム</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="top-container">
    <h1>焼き芋できるかな⁉ゲーム</h1>
    <button id="start-button">Push</button>
  </div>
  <script>
    document.getElementById('start-button').addEventListener('click', () => {
      window.location.href = '/game';
    });
  </script>
</body>
</html>